* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  background: #003366;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.hero {
  height: 60vh;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}
